*{
    list-style: none;
}

.redes-sociais{
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
}

.right{
    background-color: #F24130;
}

.login{
    display: flex;
justify-content: center;
    align-items: center;
}


.form-link-cadastro{ 
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}